﻿@model IEnumerable<CheckIn_CheckOut.Models.ChiTietCachLy>

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_LayoutDiemKiemDich.cshtml";
}

<div class="col-md-8">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">@ViewBag.TEnTinh - @ViewBag.TenQuan - @ViewBag.TenXa</h4>
            @Html.DropDownList("LoaiCachLy", null, null, new { @class = "form-control", id = "ddlProductTypes", })
        </div>
        <div class="card-body">
            @using (Html.BeginForm("TaoDiemCachLy", "DiemKiemDich",
                                           FormMethod.Post, new { id = "myForm" }))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nhập địa chỉ cách ly</label>
                            <textarea rows="4" cols="80" class="form-control" placeholder="Nhập địa chỉ cách ly" name="diadiemcachly"></textarea>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="idxa" value="@ViewBag.IDXa" />
                <button type="submit" class="btn btn-info btn-fill pull-right">Lưu thông tin</button>
                <div class="clearfix"></div>
            }
        </div>
    </div>
</div>
<br />
<table class="table">
    <tr>
        <th>
            Địa điểm cách ly
        </th>
        <th>
            Ngày cập nhật
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiaDiemCachLy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                <a href="@Url.Action("Delete", "DiemKiemDich", new { id = item.IdChiTiet, idxa= ViewBag.IDXa })" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Xóa</span>
                </a>
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
    $(function () {
        $("#ddlProductTypes").change(function () {
            var tpid = $(this).val();
            $('#products').html("");
            $.getJSON("/DiemKiemDich/DoiTrangThai", { tpid: tpid, idxa: @ViewBag.IDXa},
                function (categoryData) {
                    var select = $("#ddlProductCategorys");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Chọn quận/huyện"
                    }));
                    $.each(categoryData, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });

        });
        $(function () {
            $('#ddlProductCategorys').change(function () {
                var url = $(this).data('url');
                var value = $(this).val();
                $('#products').load(url, { id: value });

            });
        });
    });
</script>