﻿@model IEnumerable<CheckIn_CheckOut.Models.XaPhuong>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDiemKiemDich.cshtml";
}


<!-- Page Heading -->
<div class="card-body">
    @using (Html.BeginForm("Index", "DiemKiemDich",
                                   FormMethod.Post, new { id = "myForm" }))
    {

        <div class="row">
            <div class="col-md-6 pr-1">
                <div class="form-group">
                    <label>Tỉnh thành</label>
                    @Html.DropDownList("Huyen", null, "Chọn tỉnh thành", new { @class = "form-control", id = "ddlProductTypes", })
                </div>
            </div>
            <div class="col-md-6 pl-1">
                <div class="form-group">
                    <label>Quận huyện</label>
                    @Html.DropDownList("ListDonVi", null, "Chọn quận/huyện",
                     new
                     {
                         id = "ddlProductCategorys",
                         @class = "form-control",
                         required = "required"
                     })
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-info btn-fill pull-right">Duyệt</button>
        <div class="clearfix"></div>
    }
</div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách xã/phường</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên xã</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Tên xã</th>
                        <th></th>
</tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                              @item.TenXaPhuong
                            </td>
                            <td>

                                    <a href="@Url.Action("ChiTiet", "DiemKiemDich", new { id = item.IdXaPhuong })" class="btn btn-secondary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                                        <span class="text">Chỉnh sửa</span>
                                    </a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $("#ddlProductTypes").change(function () {
            var tpid = $(this).val();
            $('#products').html("");
            $.getJSON("../DiemKiemDich/LoadDSDonVi", { tpid: tpid },
                function (categoryData) {
                    var select = $("#ddlProductCategorys");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Chọn quận/huyện"
                    }));
                    $.each(categoryData, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });

        });
        $(function () {
            $('#ddlProductCategorys').change(function () {
                var url = $(this).data('url');
                var value = $(this).val();
                $('#products').load(url, { id: value });

            });
        });
    });
</script>