﻿@model CheckIn_CheckOut.Models.GetThongTin_DiaDiemResult


        <td>
            @Model.DiaChi
        </td>
        <td>
            @Model.TenXaPhuong
        </td>
        <td>
            @Model.TenQuanHuyen
        </td>
        <td>
            @Model.TenTinhThanh
        </td>
