﻿@using PagedList.Mvc;
@model PagedList.PagedList<CheckIn_CheckOut.Models.Get_Danhsach_TheoDiaDiem_SearchResult>
@{
    ViewBag.Title = "DanhSachNguoiCheckIn_TuNgay";
    Layout = "~/Views/Shared/_LayoutCheck.cshtml";
}
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h2>Danh sách hành khách </h2> (Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount)
    <a href="#" id="btnExport" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="exportReportToExcel(this)">
        <i class="fas fa-download fa-sm text-white-50"></i> Export Report
    </a>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("DanhSachNguoiCheckIn_TuNgay", "Home", FormMethod.Post, new { id = "myForm" }))
            {
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>Từ ngày</label>
                            <input type="datetime-local" class="form-control" name="TuNgay" value="@Session["TuNgay"].ToString()">
                        </div>
                    </div>
                    <div class="col-md-6 px-1">
                        <div class="form-group">
                            <label>Đến ngày</label>
                            <input type="datetime-local" class="form-control" name="DenNgay" value="@Session["DenNgay"].ToString()">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info btn-fill pull-right">Tìm kiếm</button>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                STT
            </th>
            @*<th>
                    ID
                </th>
                <th>
                    ID dia diem
                </th>
                <th>
                    ten dia diem
                </th>*@
            <th>
                Số điện thoại
            </th>
            <th>
                Thời gian
            </th>
            <th>
                Loại
            </th>
            <th>
                Check hộ
            </th>
            <th>
                Họ và tên
            </th>
            <th>
                CMND
            </th>
            <th>
                Xã
            </th>
            <th>
                Huyện
            </th>
            <th>
                Tỉnh
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NUMBER)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.IDRecod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDDiemKiemDich)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDiemKiemDich)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.SoDienThoai)
                </td>
                <td>
                    @String.Format("{0:dd/MM/yyyy HH:mm:ss}", item.ThoiGianCheck)
                </td>
                <td>
                    @if (item.TrangThai == "In")
                    {
                        <a href="#" class="btn btn-primary btn-icon-split btn-sm">
                            <span class="text">@item.TrangThai</span>
                        </a>
                    }
                    else
                    {
                        <a href="#" class="btn btn-warning btn-icon-split btn-sm">
                            <span class="text">@item.TrangThai</span>
                        </a>
                    }

                </td>
                <td>
                    @if (item.CheckThay == 1)
                    {
                        <a href="#" class="btn btn-success btn-circle btn-sm">
                            <i class="fas fa-check"></i>
                        </a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CMND)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenXaPhuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenQuanHuyen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTinhThanh)
                </td>
                @*<td>
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    </td>*@
            </tr>
        }

    </table>
    <div class="row">
        <div class="col-md-12 text-center btn__showcase">
            @Html.PagedListPager(Model, page => Url.Action("DanhSachNguoiCheckIn_TuNgay", new { page = page }))
        </div>
        <style>
            .pagination-container ul {
                display: inline-flex !important;
            }

            .active a {
                z-index: 3 !important;
                color: #fff !important;
                background-color: #4e73df !important;
                border-color: #4e73df !important;
            }

            .pagination-container ul li a {
                position: relative;
                display: block;
                padding: .5rem .75rem;
                margin-left: -1px;
                line-height: 1.25;
                color: #4e73df;
                background-color: #fff;
                border: 1px solid #dddfeb;
            }
        </style>
    </div>
    <script>
        function exportReportToExcel() {
            let table = document.getElementsByTagName("table"); // you can use document.getElementById('tableId') as well by providing id to the table tag
            TableToExcel.convert(table[0], { // html code may contain multiple tables so here we are refering to 1st table tag
                name: `export.xlsx`, // fileName you could use any name
                sheet: {
                    name: 'Sheet 1' // sheetName
                }
            });
        }
    </script>
