﻿
@{
    ViewBag.Title = "TaoDiemCheck";
    Layout = "~/Views/Shared/_LayoutCheck.cshtml";
}
    <script src="https://chukyso.tayninh.gov.vn/assets/js/jquery183.min.js"></script>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">TẠO ĐIỂM CHECK IN</h1>
    @*<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i>Generate Report
        </a>*@
</div>


<div class="col-md-8">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Nhập thông tin điểm check in</h4>
            @ViewBag.Thongbao
        </div>
        <div class="card-body">
                @using (Html.BeginForm("TaoDiemCheck", "Home",
                                               FormMethod.Post, new { id = "myForm" }))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Tên địa điểm</label>
                                <input type="text" class="form-control" name="TenDiaDiem" placeholder="Nhập tên địa điểm" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Loại đối tượng</label>
                                @Html.DropDownList("LoaiDoiTuong", null, "Chọn nhóm", new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tỉnh</label>
                                <input type="email" class="form-control" value="Tỉnh Tây Ninh" disabled="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Huyện</label>
                                @Html.DropDownList("Huyen", null, "Chọn Huyện", new { @class = "form-control", id = "ddlProductTypes", })
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Xã/Phường</label>
                                @Html.DropDownList("ListDonVi", new SelectList(Enumerable.Empty<SelectListItem>(), "IdXaPhuong", "TenXaPhuong"),
                                 "Chọn xã phường",
                                 new
                                 {
                                     id = "ddlProductCategorys",
                                     @class = "form-control",
                                     required = "required"
                                 })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" class="form-control" name="DiaChi" placeholder="Nhập địa chỉ" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info btn-fill pull-right">Lưu thông tin</button>
                    <div class="clearfix"></div>
                }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#ddlProductTypes").change(function () {
            var tpid = $(this).val();
            $('#products').html("");
            $.getJSON("../Home/LoadDSDonVi", { tpid: tpid },
                function (categoryData) {
                    var select = $("#ddlProductCategorys");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Chọn xã phường"
                    }));
                    $.each(categoryData, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });

        });
        $(function () {
            $('#ddlProductCategorys').change(function () {
                var url = $(this).data('url');
                var value = $(this).val();
                $('#products').load(url, { id: value });

            });
        });
    });
</script>