﻿
@{
    ViewBag.Title = "Đăng ký về địa phương";
    Layout = "~/Views/Shared/_LayoutPageKhaiBao.cshtml";
}
<script src="https://zjs.zdn.vn/zalo/Zalo.Extensions.min.js"></script>
<script src="https://chukyso.tayninh.gov.vn/assets/js/jquery183.min.js"></script>

@ViewBag.ThongBaoLoi
@*<div style="position: fixed; top: 20%; padding: 15%; z-index: 5000; width: 422px; text-align: center; background: #bcb0ed29;">
    Vui lòng chờ ...<br />
    <img src="~/Content/loading.gif" />
</div>*@
<script type="text/javascript">
    function ShowLoading(e) {
        var div = document.createElement('div');
        var img = document.createElement('img');
        img.src = '../Content/loading.gif';
        div.innerHTML = "Vui lòng chờ ...<br />";
        div.style.cssText = 'position: fixed; top: 20%; padding: 15%; z-index: 5000; width: 422px; text-align: center; background:#bcb0ed29;';
        div.appendChild(img);
        document.body.appendChild(div);
        $(':input[type="submit"]').prop('disabled', true);
        return true;
        // These 2 lines cancel form submission, so only use if needed.
        //window.event.cancelBubble = true;
        //e.stopPropagation();
    }
</script>

<div class="col-md-8">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Đăng ký về địa phương</h4>
            @ViewBag.Thongbao
        </div>
        <div class="card-body">
            <div class="col-md-12" style="text-align:center">
                <p style="color:red;font-weight: bold;font-size: small;">Khuyến cáo: Khai báo thông tin sai là vi phạm pháp luật Việt Nam và có thể xử lý hình sự</p>
            </div>

            @using (Html.BeginForm("KhaiBao", "KhaiBaoDiChuyen",
                                           FormMethod.Post, new { id = "myForm", onsubmit = "ShowLoading()" }))
            {
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" style="width: 25px; height: 25px;" id="khaiho" name="khaiho" value="1">
                    <label class="form-check-label" style="font-size: larger; color: blue; font-weight: 900;">Khai hộ</label>
                </div>
                <div class="form-group" style="margin-bottom: 0rem !important;">
                    <label style="color: black;font-weight: bold;font-size: larger;">Mục đích đăng ký<span style="color: red;font-weight: bold;font-size: larger;">*</span></label>
                </div>
                <div class="form-group" id="frchonloai" name="frchonloai" style="margin-bottom: 1rem !important;">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="LoaiLT" id="LoaiLT" value="0" onclick="myFunction2()">
                        <label class="form-check-label" style="font-size: larger; color: blue; font-weight: 900;">Đi về trong ngày</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="LoaiLT" id="LoaiLT" value="1" checked onclick="myFunction2()">
                        <label class="form-check-label" style="font-size: larger; color: blue; font-weight: 900;">Về ở lại Tây Ninh</label>
                    </div>

                    <div id="log"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label style="color: black;font-weight: bold;font-size: larger;">Chốt khai báo<span style="color: red;font-weight: bold;font-size: larger;">*</span></label>
                            @Html.DropDownList("ChotKiemDich", null, "Chọn chốt", new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="color: black;font-weight: bold;font-size: larger;">Họ và Tên<span style="color: red;font-weight: bold;font-size: larger;">*</span></label>
                            <input type="text" class="form-control" name="HoTen" placeholder="Nhập họ và tên" id="hoten" required>
                        </div>
                    </div>
                    <div class="col-md-12" style="display:none">
                        <div class="form-group">
                            <label style="color: black;font-weight: bold;font-size: larger;">CMND/Căn Cước công dân</label>
                            <input type="text" class="form-control" name="CMND" placeholder="Nhập số giấy tờ" id="CMND">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="color: black;font-weight: bold;font-size: larger;">Mặt trước CMND/CCCD<span style="color: red;font-weight: bold;font-size: larger;">*</span></label>
                            <input type="file" class="form-control" name="uploadFile" id="uploadFile" accept="image/*" onchange="loadFile(event)" required>
                            <img id="output0" style="width:200px" src="~/Content/noimg.png" />
                            <input type="hidden" name="CMNDTruoc" id="cmndtruoc" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="color: black;font-weight: bold;font-size: larger;">Mặt sau CMND/CCCD<span style="color: red;font-weight: bold;font-size: larger;">*</span></label>
                            <input type="file" class="form-control" name="uploadFile2" id="uploadFile2" accept="image/*" onchange="loadFile2(event)" required>
                            <img id="output1" style="width:200px" src="~/Content/noimg.png" />
                            <input type="hidden" name="CMNDSau" id="cmndsau" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="color: black;font-weight: bold;font-size: larger;">Phiếu xét nghiệm (nếu có)</label>
                            <input type="file" class="form-control" name="uploadFile3" id="uploadFile3" accept="image/*" onchange="loadFile3(event)">
                            <img id="output2" style="width:200px" src="~/Content/noimg.png" />
                            <input type="hidden" name="GiayXetNghiem" id="giayxetnghiem" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="color: black;font-weight: bold;font-size: larger;">Số điện thoại <span style="color: red;font-weight: bold;font-size: larger;" id="test1">*</span></label>
                            <input type="text" class="form-control" name="SoDienThoai" placeholder="Nhập số điện thoại" id="dienthoai" required>
                        </div>
                    </div>
                    <div class="col-md-6 pr-1">


                        <div class="form-group">
                            <label style="color: black;font-weight: bold;font-size: larger;">Nơi đi <span style="color: red;font-weight: bold;font-size: larger;">*</span></label>
                            <div class="form-group">
                                <select name="TINH_HIEN_TAI" id="tinh_hientai" class="form-control " required="required" data-type="select" data-trigger="change">
                                    <option value=''>- Chọn tỉnh/TP hiện tại-</option>
                                    @foreach (var listItem in ViewBag.TinhThanh)
                                    {
                                        <option value="@listItem.IDTinhThanh">
                                            @listItem.TenTinhThanh
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                @*<label for="pwd">Quận / Huyện: <font color="#ff0000">*</font></label>*@
                                <select name="HUYEN_HIEN_TAI" id="quanhuyen_hientai" class="form-control" required="required" data-type="select" data-trigger="change" data-toggle="popover"
                                        data-content='Xin chọn tỉnh trước' data-placement="top">
                                    <option value=''>- Chọn quận/huyện -</option>

                                </select>

                            </div>
                            <div class="form-group">
                                @*<label for="pwd">Phường / Xã: <font color="#ff0000">*</font></label>*@
                                <select name="XA_HIEN_TAI" id="phuongxa_hientai" class="form-control" required="required" data-input="true" data-type="select" data-trigger="change"
                                        data-placement="top">
                                    <option value=''>- Chọn phường/xã -</option>
                                </select>
                            </div>
                        </div>




                        @*<div class="form-group">
                                <label style="color: black;font-weight: bold;font-size: larger;">Nơi đi </label>
                                @Html.DropDownList("TinhDiChuyen", null, "Chọn tỉnh thành", new { @class = "form-control", id = "ddlProductTypes3", required = "required" })
                            </div>*@


                        <div class="form-group">
                            <label style="color: black;font-weight: bold;font-size: larger;">Đến Tỉnh Tây Ninh <span style="color: red;font-weight: bold;font-size: larger;">*</span></label>
                            @*<input type="email" class="form-control" value="Tỉnh Tây Ninh" disabled="">*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            @Html.DropDownList("Huyen", null, "Chọn Huyện", new { @class = "form-control", id = "ddlProductTypes", required = "required" })
                        </div>
                    </div>
                    <div id="chonxa" class="col-md-6 pr-1">
                        <div class="form-group">
                            @Html.DropDownList("ListDonVi", new SelectList(Enumerable.Empty<SelectListItem>(), "IdXaPhuong", "TenXaPhuong"),
                             "Chọn xã phường",
                             new
                             {
                                 id = "ddlProductCategorys",
                                 @class = "form-control",
                                 required = "required"
                             })
                        </div>

                    </div>
                    <div class="col-md-6 pr-1" id="appp">
                        <div class="form-group">
                            <select name="AP_HIEN_TAI" id="ap_hientai" class="form-control" required="required" data-input="true" data-type="select" data-trigger="change"
                                    data-placement="top">
                                <option value=''>- Chọn khu phố/ấp -</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="chondiachi" class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" name="DiaChi" placeholder="Nhập địa chỉ" required>
                        </div>
                    </div>
                </div>
                <div class="row" id="diadiemdichuyen" style="display:none">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="color: black;font-weight: bold;font-size: larger;">Nhập các điểm di chuyển đến <span style="color: red;font-weight: bold;font-size: larger;">*</span></label>
                            <input type="text" class="form-control" name="diadiem" placeholder="Các địa điểm cần đến" id="diadiem">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="OAID" id="oaid">
                            <input type="hidden" class="form-control" name="IdDiemKiemDich" id="IdDiemKiemDich" value="@ViewBag.IDDiemKiemdich">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align:center">
                        <p style="color:blue;font-weight: bold;font-size: large;">KHAI BÁO Y TẾ</p>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" style="margin-bottom: 0rem !important;">
                            <label style="color: black;font-weight: bold;font-size: medium;">Trong vòng 14 ngày qua Anh/Chị có thấy ít nhất 1 trong các dấu hiệu: sốt, ho, khó thở, đau họng, mệt mỏi không? <span style="color: red;font-weight: bold;font-size: larger;">*</span></label>
                        </div>
                        <div class="form-group" style="margin-bottom: 0rem !important;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Cau1" id="Cau1" value="0" checked>
                                <label class="form-check-label" for="inlineRadio1">Không</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Cau1" id="Cau1" value="1">
                                <label class="form-check-label" for="inlineRadio2">Có</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" style="margin-bottom: 0rem !important;">
                            <label style="color: black;font-weight: bold;font-size: medium;">Trong vòng 14 ngày qua Anh/Chị có tiếp xúc với người bị nhiễm hoặc nghi ngờ nhiễm COVID-19 không? <span style="color: red;font-weight: bold;font-size: larger;">*</span></label>
                        </div>
                        <div class="form-group" style="margin-bottom: 0rem !important;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Cau2" id="Cau2" value="0" checked>
                                <label class="form-check-label" for="inlineRadio1">Không</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Cau2" id="Cau2" value="1">
                                <label class="form-check-label" for="inlineRadio2">Có</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" style="margin-bottom: 0rem !important;">
                            <label style="color: black;font-weight: bold;font-size: medium;">Trong vòng 14 ngày qua Anh/Chị có di chuyển sang Tỉnh, Thành phố nào (có thể di chuyển qua nhiều nơi) khác nơi ở hiện tại không? <span style="color: red;font-weight: bold;font-size: larger;">*</span></label>
                        </div>
                        <div class="form-group" style="margin-bottom: 0rem !important;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Cau3" id="Cau3" value="0" checked>
                                <label class="form-check-label" for="inlineRadio1">Không</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Cau3" id="Cau3" value="1">
                                <label class="form-check-label" for="inlineRadio2">Có</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" style="margin-bottom: 0rem !important;">
                            <label style="color: black;font-weight: bold;font-size: medium;">Anh/chị có đang ở vùng dịch không? <span style="color: red;font-weight: bold;font-size: larger;">*</span></label>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Cau4" id="Cau4" value="0" checked>
                                <label class="form-check-label" for="inlineRadio1">Không</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Cau4" id="Cau4" value="1">
                                <label class="form-check-label" for="inlineRadio2">Có</label>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-info btn-fill pull-right" id="">Nhập thông tin</button>
                <div class="clearfix"></div>
            }

        </div>
    </div>
</div>
<script type="text/javascript">
    $('input[name=SoDienThoai]').on('keyup', function () {
        var vnf_regex = /((09|03|07|08|05)+([0-9]{8})\b)/g;
        var mobile = $('#dienthoai').val();
        if (mobile.length >= 10) {
            if (vnf_regex.test(mobile) == false) {
                $("#test1").text("Số điện thoại của bạn không đúng định dạng!");
                $(':input[type="submit"]').prop('disabled', true);
            } else {
                $("#test1").text("*");
                $(':input[type="submit"]').prop('disabled', false);
            }
        }
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#ddlProductTypes").change(function () {
            var tpid = $(this).val();
            $('#products').html("");
            $.getJSON("../../Home/LoadDSDonVi", { tpid: tpid },
                function (categoryData) {
                    var select = $("#ddlProductCategorys");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Chọn xã phường"
                    }));
                    $.each(categoryData, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });

        });
        $(function () {
            $('#ddlProductCategorys').change(function () {
                var url = $(this).data('url');
                var value = $(this).val();
                $('#products').load(url, { id: value });

            });
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $("#ddlProductTypes3").change(function () {
            var tpid = $(this).val();
            $('#products').html("");
            $.getJSON("../../Home/LoadDSDonViHuyen", { tpid: tpid },
                function (categoryData) {
                    var select = $("#ddlProductCategorys3");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Chọn xã phường"
                    }));
                    $.each(categoryData, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });

        });
        $(function () {
            $('#ddlProductCategorys3').change(function () {
                var url = $(this).data('url');
                var value = $(this).val();
                $('#products').load(url, { id: value });

            });
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $("#ddlProductTypes4").change(function () {
            var tpid = $(this).val();
            $('#productsx').html("");
            $.getJSON("../../Home/LoadDSDonVi", { tpid: tpid },
                function (categoryData) {
                    var select = $("#ddlProductCategorys4");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Chọn xã phường"
                    }));
                    $.each(categoryData, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });

        });
        $(function () {
            $('#ddlProductCategorys4').change(function () {
                var url = $(this).data('url');
                var value = $(this).val();
                $('#productsx').load(url, { id: value });

            });
        });
    });
</script>

<script type="text/javascript">
    function getContext() {
        //Nhập OA id, đăng ký OA lấy thông tin trong web view
        ZaloExtensions.getContext({ "oaId": 4229714399087405880 },
            function success(thread_context) {
                console.log(thread_context);
                document.getElementById('oaid').value = thread_context.userId;
                //alert(thread_context.userId);
                //window.location.href = "http://localhost:63984/NopHoSoZaLo/ChekData?userId=" + thread_context.userId;
            },
            function error(err) {
                //document.getElementById('oaid').value = err.message;
                //Test get lại thông tin cũ
                document.getElementById('oaid').value = '0';
                //    var settings = {
                //              "url": "https://localhost:44303/KhaiBaoDiChuyen/GetThongTinCu?oaid=3111397980322554098",
                //              "method": "GET",
                //              "timeout": 0,
                //              "headers": {
                //                "Content-Type": "application/json"
                //              },
                //            };

                //            $.ajax(settings).done(function (response) {
                //                console.log(response);
                //                 document.getElementById('hoten').value = response.display_name;
                //                 document.getElementById('dienthoai').value = response.shared_info;
                //            });
                console.log(err);
                //alert(err.message);
                //window.location.href = "http://localhost:63984/NopHoSoZaLo/ChekData?userId=" + err.message;
            });
    }
</script>
<script>
    window.onload = function exampleFunction() {
        getContext();
    }
</script>
<script>
    function myFunction2() {
        var value = $("input[name='LoaiLT']:checked").val();
        if (value == "0") {
            //di chuyển trong ngày
            $("input[name='DiaChi']").prop('required', false);
            $("input[name='diadiem']").prop('required', true);
            var select = $('#ddlProductCategorys');
            select.attr('required', true);
            var select = $('#ap_hientai');
            select.attr('required', false);
            $('#chonxa').show(); //to hide
            $('#chondiachi').hide(); //to hide
            $('#diadiemdichuyen').show(); //to hide
            $('#appp').hide(); //to hide
            console.log(value);
        } else if (value == "1") {
            $("input[name='DiaChi']").prop('required', true);
            $("input[name='diadiem']").prop('required', false);
            var select = $('#ddlProductCategorys');
            select.attr('required', true);
            var select = $('#ap_hientai');
            select.attr('required', true);
            $('#chonxa').show(); //to hide
            $('#chondiachi').show(); //to hide
            $('#diadiemdichuyen').hide(); //to hide
            $('#appp').show(); //to show
            console.log(value);
        }
    }
    //$("input[name='LoaiLT']").on("click", function () {
    //    var value = $("input:checked").val();
    //    if (value == "0") {
    //        //di chuyển trong ngày
    //        $("input[name='DiaChi']").prop('required', false);
    //        var select = $('#ddlProductCategorys');
    //        select.attr('required', false);
    //        $('#chonxa').hide(); //to hide
    //        $('#chondiachi').hide(); //to hide
    //        console.log(value);
    //    } else if (value == "1") {
    //        $("input[name='DiaChi']").prop('required', true);
    //        var select = $('#ddlProductCategorys');
    //        select.attr('required', true);
    //        $('#chonxa').show(); //to hide
    //        $('#chondiachi').show(); //to hide
    //        console.log(value);
    //    }
    //});
    //function myFunctionsubmit() {
    //    document.getElementById("myForm").submit();
    //}
</script>
<script>
    $('#quanhuyen_hientai').change(function () {
        var matinh = new FormData();
        matinh.append('IDHUYEN', $('#quanhuyen_hientai').val());
        $.ajax({
            url: "../KhaiBaoDiChuyen/getPhuongxa",
            data: matinh,
            type: 'POST',
            contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
            processData: false, // NEEDED, DON'T OMIT THIS
            dataType: "json", // ... Other options like success and etc
            success: function (result) {
                $("#phuongxa_hientai").children().remove();
                $("<option value=''>- Chọn phường/xã -</option>").appendTo("#phuongxa_hientai");
                for (var i = 0; i < result.length; i++) {
                    $("<option value=" + result[i].Value + ">" + result[i].Text + "</option>").appendTo("#phuongxa_hientai");
                };
                if ($('#nhutren').is(':checked')) {
                    $("#phuongxa_hientai").val($("#phuongxa_thuongtru option:selected").val()).trigger('change');
                };
            },

        });
    });


    $('#tinh_hientai').change(function () {
        var matinh = new FormData();
        matinh.append('IDTINH', $('#tinh_hientai').val());
        console.log(matinh);
        $.ajax({
            url: "../KhaiBaoDiChuyen/getQuanhuyen",
            data: matinh,
            type: 'POST',
            contentType: false,
            processData: false,
            dataType: "json",
            success: function (result) {
                $("#quanhuyen_hientai").children().remove();
                $("<option value=''>- Chọn quận/huyện -</option>").appendTo("#quanhuyen_hientai");
                for (var i = 0; i < result.length; i++) {
                    $("<option value=" + result[i].Value + ">" + result[i].Text + "</option>").appendTo("#quanhuyen_hientai");
                };
                if ($('#nhutren').is(':checked')) {
                    $("#quanhuyen_hientai").val($("#quanhuyen_thuongtru option:selected").val()).trigger('change');
                };
            },

        });

    });

    $('#ddlProductCategorys').change(function () {
        var matinh = new FormData();
        matinh.append('IDXa', $('#ddlProductCategorys').val());
        console.log(matinh);
        $.ajax({
            url: "../KhaiBaoDiChuyen/getAp",
            data: matinh,
            type: 'POST',
            contentType: false,
            processData: false,
            dataType: "json",
            success: function (result) {
                $("#ap_hientai").children().remove();
                $("<option value=''>- Chọn ấp/khu phố -</option>").appendTo("#ap_hientai");
                for (var i = 0; i < result.length; i++) {
                    $("<option value=" + result[i].Value + ">" + result[i].Text + "</option>").appendTo("#ap_hientai");
                };
                if ($('#nhutren').is(':checked')) {
                    $("#quanhuyen_hientai").val($("#quanhuyen_thuongtru option:selected").val()).trigger('change');
                };
            },

        });
    });

</script>

<script>
    function resizeImage(base64Str, maxWidth = 1024, maxHeight = 768) {
        return new Promise((resolve) => {
            let img = new Image()
            img.src = base64Str
            img.onload = () => {
                let canvas = document.createElement('canvas')
                const MAX_WIDTH = maxWidth
                const MAX_HEIGHT = maxHeight
                let width = img.width
                let height = img.height

                if (width > height) {
                    if (width > MAX_WIDTH) {
                        height *= MAX_WIDTH / width
                        width = MAX_WIDTH
                    }
                } else {
                    if (height > MAX_HEIGHT) {
                        width *= MAX_HEIGHT / height
                        height = MAX_HEIGHT
                    }
                }
                canvas.width = width
                canvas.height = height
                let ctx = canvas.getContext('2d')
                ctx.drawImage(img, 0, 0, width, height)
                resolve(canvas.toDataURL())
            }
        })
    }
</script>
<script>
    var loadFile = function (event) {
        $(':input[type="submit"]').prop('disabled', true);
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output0');
            
            //console.log(resizeImage(reader.result));

            const printAddress = () => {
                resizeImage(reader.result).then((a) => {
                    //console.log(a);
                    output.src = a;
                    document.getElementById('cmndtruoc').value = a;
                    $(':input[type="submit"]').prop('disabled', false);
                });
            };

            printAddress();
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>
<script>
    var loadFile2 = function (event) {
        $(':input[type="submit"]').prop('disabled', true);
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output1');
            //output.src = reader.result;
            //document.getElementById('cmndsau').value = (reader.result);

            const printAddress3 = () => {
                resizeImage(reader.result).then((a) => {
                    //console.log(a);
                    output.src = a;
                    document.getElementById('cmndsau').value = a;
                    $(':input[type="submit"]').prop('disabled', false);
                });
            };

            printAddress3();
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>
<script>
    var loadFile3 = function (event) {
        $(':input[type="submit"]').prop('disabled', true);
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output2');
            //output.src = reader.result;
            //document.getElementById('giayxetnghiem').value = (reader.result);
            const printAddress1 = () => {
                resizeImage(reader.result).then((a) => {
                    //console.log(a);
                    output.src = a;
                    document.getElementById('giayxetnghiem').value = a;
                    $(':input[type="submit"]').prop('disabled', false);
                });
            };

            printAddress1();
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>