﻿
@{
    ViewBag.Title = "Khai báo sức khỏe hằng ngày";
    Layout = "~/Views/Shared/_LayoutPageKhaiBao.cshtml";
}
<script src="https://zjs.zdn.vn/zalo/Zalo.Extensions.min.js"></script>
<script src="https://chukyso.tayninh.gov.vn/assets/js/jquery183.min.js"></script>

@ViewBag.ThongBaoLoi
<div class="col-md-8">
    <div class="card">
        <div class="card-header">
            @ViewBag.Thongbao
        </div>
        <div class="card-body">
            <div class="col-md-12" style="text-align:center">
                <p style="color:red;font-weight: bold;font-size: small;">Khuyến cáo: Khai báo thông tin sai là vi phạm pháp luật Việt Nam và có thể xử lý hình sự</p>
            </div>
            <div class="col-md-12" style="text-align:center">
                <p style="color:blue;font-weight: bold;font-size: large;">KHAI BÁO SỨC KHỎE HẰNG NGÀY</p>
            </div>
            @using (Html.BeginForm("KhaiBaoYTe", "KhaiBaoDiChuyen",
                                           FormMethod.Post, new { id = "myForm" }))
            {
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="khaiho" name="khaiho" value="1">
                    <label class="form-check-label">Khai hộ</label>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="color: black;font-weight: bold;font-size: larger;">Họ và Tên</label>
                            <input type="text" class="form-control" name="HoTen" placeholder="Nhập họ và tên" id="hoten" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="color: black;font-weight: bold;font-size: larger;">Số điện thoại</label>
                            <input type="text" class="form-control" name="SoDienThoai" placeholder="Nhập số điện thoại" id="dienthoai" required>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label style="color: black;font-weight: bold;font-size: larger;">Tỉnh Tây Ninh</label>
                            @*<input type="email" class="form-control" value="Tỉnh Tây Ninh" disabled="">*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            @Html.DropDownList("Huyen", null, "Chọn Huyện", new { @class = "form-control", id = "ddlProductTypes", required = "required" })
                        </div>
                    </div>
                    <div id="chonxa" class="col-md-6 pr-1">
                        <div class="form-group">
                            @Html.DropDownList("ListDonVi", new SelectList(Enumerable.Empty<SelectListItem>(), "IdXaPhuong", "TenXaPhuong"),
                             "Chọn xã phường",
                             new
                             {
                                 id = "ddlProductCategorys",
                                 @class = "form-control",
                                 required = "required"
                             })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="OAID" id="oaid">
                            <input type="hidden" class="form-control" name="latitude" id="latitude">
                            <input type="hidden" class="form-control" name="longitude" id="longitude">

                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group" style="margin-bottom: 0rem !important;">
                            <label style="color: black;font-weight: bold;font-size: medium;">Anh/Chị có thấy ít nhất 1 trong các dấu hiệu: sốt, ho, khó thở, đau họng, mệt mỏi không? <span style="color: red;font-weight: bold;font-size: larger;">*</span></label>
                        </div>
                        <div class="form-group" >
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Cau1" id="Cau1" value="0" checked>
                                <label class="form-check-label" for="inlineRadio1" style=" font-size: x-large; color: blue;">Không</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Cau1" id="Cau1" value="1">
                                <label class="form-check-label" for="inlineRadio2" style=" font-size: x-large; color: blue;">Có</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="display:none">
                        <div class="form-group" style="margin-bottom: 0rem !important;">
                            <label style="color: black;font-weight: bold;font-size: medium;">Trong vòng 14 ngày qua Anh/Chị có tiếp xúc với người bị nhiễm hoặc nghi ngờ nhiễm COVID-19 không? <span style="color: red;font-weight: bold;font-size: larger;">*</span></label>
                        </div>
                        <div class="form-group" style="margin-bottom: 0rem !important;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Cau2" id="Cau2" value="0" checked>
                                <label class="form-check-label" for="inlineRadio1">Không</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Cau2" id="Cau2" value="1">
                                <label class="form-check-label" for="inlineRadio2">Có</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="display:none">
                        <div class="form-group" style="margin-bottom: 0rem !important;">
                            <label style="color: black;font-weight: bold;font-size: medium;">Anh/Chị có di chuyển trong Huyện, Thành phố nào (có thể di chuyển qua nhiều nơi) khác nơi ở hiện tại không? <span style="color: red;font-weight: bold;font-size: larger;">*</span></label>
                        </div>
                        <div class="form-group" style="margin-bottom: 0rem !important;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Cau3" id="Cau3" value="0" checked>
                                <label class="form-check-label" for="inlineRadio1" style=" font-size: x-large; color: blue;">Không</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Cau3" id="Cau3" value="1">
                                <label class="form-check-label" for="inlineRadio2" style=" font-size: x-large; color: blue;">Có</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="display:none">
                        <div class="form-group" style="margin-bottom: 0rem !important;">
                            <label style="color: black;font-weight: bold;font-size: medium;">Anh/chị có đang ở vùng dịch không? <span style="color: red;font-weight: bold;font-size: larger;">*</span></label>
                        </div>
                        <div class="form-group" >
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Cau4" id="Cau4" value="0" checked>
                                <label class="form-check-label" for="inlineRadio1">Không</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Cau4" id="Cau4" value="1">
                                <label class="form-check-label" for="inlineRadio2">Có</label>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-info btn-fill pull-right">Gửi thông tin</button>
                <div class="clearfix"></div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#ddlProductTypes").change(function () {
            var tpid = $(this).val();
            $('#products').html("");
            $.getJSON("../../Home/LoadDSDonVi", { tpid: tpid },
                function (categoryData) {
                    var select = $("#ddlProductCategorys");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Chọn xã phường"
                    }));
                    $.each(categoryData, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });

        });
        $(function () {
            $('#ddlProductCategorys').change(function () {
                var url = $(this).data('url');
                var value = $(this).val();
                $('#products').load(url, { id: value });

            });
        });
    });
</script>
<script type="text/javascript">
    function getContext() {
        ZaloExtensions.getContext({ "oaId": 4229714399087405880 },
            function success(thread_context) {
                console.log(thread_context);
                document.getElementById('oaid').value = thread_context.userId;
                //alert(thread_context.userId);
                //window.location.href = "http://localhost:63984/NopHoSoZaLo/ChekData?userId=" + thread_context.userId;
            },
            function error(err) {
                //document.getElementById('oaid').value = err.message;
                //document.getElementById('oaid').value = '3111397980322554098';
                //    var settings = {
                //              "url": "https://localhost:44303/KhaiBaoDiChuyen/GetThongTinCu?oaid=3111397980322554098",
                //              "method": "GET",
                //              "timeout": 0,
                //              "headers": {
                //                "Content-Type": "application/json"
                //              },
                //            };

                //            $.ajax(settings).done(function (response) {
                //                console.log(response);
                //                 document.getElementById('hoten').value = response.display_name;
                //                 document.getElementById('dienthoai').value = response.shared_info;
                //            });
                console.log(err);
                //alert(err.message);
                //window.location.href = "http://localhost:63984/NopHoSoZaLo/ChekData?userId=" + err.message;
            });
         getLocation();
    }
</script>
<script>
    window.onload = function exampleFunction() {
        getContext();
    }
</script>

<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        document.getElementById('longitude').value = position.coords.longitude;
        document.getElementById('latitude').value = position.coords.latitude;
    }
</script>